{{template "header"}}

<body>

    {{template "navbar" .}}

    <div class="container">
        <div class="jumbotron">
            <h1>Password Keeper</h1>
            <p class="lead">A remote password keeper, help you to remenber your PWD everyway.
            <br>
            In addition, It will always be <a href="https://github.com/tobyzxj/passwordkeeper" target="new">Open Source</a> & Free for you.
            </p>
            <p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a></p>
        </div>
    </div>

    {{template "tail"}}

    </div>
    
</body>
</html>