{{template "header"}}

<body onLoad="init()">
    <style type="text/css">
        body { font-family:arial,sans-serif; font-size:9pt; }
        
        .my_clip_button { width:150px; text-align:center; border:1px solid black; background-color:#ccc; margin:10px; padding:10px; cursor:default; font-size:9pt; }
        .my_clip_button.hover { background-color:#eee; }
        .my_clip_button.active { background-color:#aaa; }
    </style>

    {{template "navbar" .}}

    <div class="container" style="width: 1000px;">
        <h3><span class="label label-primary">View a Password Tag</span></h3>
        <input id="tid" type="hidden" name="tid" value="{{.Tid}}">
        <div class="form-group">
            <label>Password tag：</label>
            <input id="tpasswdtag" type="text" class="form-control" name="tpasswdtag" value="{{.Passwdtag.Tag}}" disabled="disabled">
        </div>

        <div class="form-group">
            <label>Account：</label>
            <div class="input-group">
                <input id="taccount" type="text" class="form-control" name="taccount" value="{{.Passwdtag.Account}}" disabled="disabled" onChange="clip_taccount.setText(this.value);">
                <span class="input-group-btn">
                    <button id="taccount_btn" type="button" class="btn btn-primary" onmouseover="clip_taccount.reposition(this);">Copy</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Password: </label>
            <!--<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Generate a random password</a></p>-->               
            <div class="input-group">
                <input id="tpassword" type="text" class="form-control" name="tpassword" value="{{.Passwdtag.Passwd}}"  disabled="disabled" onChange="clip_tpassword.setText(this.value)">
                <span class="input-group-btn">
                    <button id="tpassword_btn" type="button" class="btn btn-primary" onmouseover="clip_tpassword.reposition(this);">Copy</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Url: {{str2html .GoUrl}} </label>
            <input id="turl" type="text" class="form-control" name="turl" value="{{.Passwdtag.Url}}" disabled="disabled">
        </div>

        <div class="form-group">
            <label>Remark: </label>
            <textarea id="tremark" type="content" cols="30" rows="10" class="form-control" name="tremark" value="{{.Passwdtag.Remark}}" disabled="disabled"></textarea>
        </div>

        <script type="text/javascript">
            var clip_taccount = null
            var clip_tpassword = null;
            
            var $id = function (id) {
                return "string" == typeof id ? document.getElementById(id) : id;
            };

            function init() {
                ZeroClipboard.setMoviePath("/static/copy/ZeroClipboard.swf")

                // clip_taccount
                clip_taccount = new ZeroClipboard.Client();
                clip_taccount.setHandCursor(true);
                
                clip_taccount.addEventListener('load', function (client) {
                    //debugstr("Flash movie loaded and ready.");
                });
                
                clip_taccount.addEventListener('mouseOver', function (client) {
                    // update the text on mouse over
                    clip_taccount.setText($id("taccount").value);

                });
                
                clip_taccount.addEventListener('complete', function (client, text) {
                    //debugstr("Copied text to clipboard: " + text );
                    alert("Copy -->" + text + "<-- to clipboard succeed.")
                });
                
                clip_taccount.glue('taccount_btn');

                // clip_taccount
                clip_taccount = new ZeroClipboard.Client();
                clip_taccount.setHandCursor(true);
                
                clip_taccount.addEventListener('load', function (client) {
                    //debugstr("Flash movie loaded and ready.");
                });
                
                clip_taccount.addEventListener('mouseOver', function (client) {
                    // update the text on mouse over
                    clip_taccount.setText($id("taccount").value);

                });
                
                clip_taccount.addEventListener('complete', function (client, text) {
                    //debugstr("Copied text to clipboard: " + text );
                    alert("Copy -->" + text + "<-- to clipboard succeed.")
                });
                
                clip_taccount.glue('taccount_btn');

                // clip_tpassword
                clip_tpassword = new ZeroClipboard.Client();
                clip_tpassword.setHandCursor(true);
                
                clip_tpassword.addEventListener('load', function (client) {
                    //debugstr("Flash movie loaded and ready.");
                });
                
                clip_tpassword.addEventListener('mouseOver', function (client) {
                    // update the text on mouse over
                    clip_tpassword.setText($id("tpassword").value);
                });
                
                clip_tpassword.addEventListener('complete', function (client, text) {
                    //debugstr("Copied text to clipboard: " + text );
                    alert("Copy -->" + text + "<-- to clipboard succeed.")
                });
                
                clip_tpassword.glue('tpassword_btn');
            }
        </script>

    </div>

    {{template "tail"}}

    </div>

    <!-- Using jQuery with a CDN -->
    <!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>-->
    <script src="/static/js/jquery-2.0.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/copy/ZeroClipboard.js"></script>
    </script>
</body>
</html>