{{template "header"}}

<body>

    {{template "navbar" .}}

    <div class="container" style="width: 1000px;">
        <h3><span class="label label-primary">Add Password Tag</span></h3>
        
        <form method="post" action="/passwdtag">
            <div class="form-group">
                <label>Password tag：</label>
                <input id="tpasswdtag" type="text" class="form-control" name="tpasswdtag" placeholder="Add a tag: QQ mail" required autofocus>
            </div>

            <div class="form-group">
                <label>Account：</label>
                <input id="taccount" type="text" class="form-control" name="taccount" placeholder="Username: toby" required>
            </div>

            <div class="form-group">
                <label>Password: </label>
                <!--<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Generate a random password</a></p>-->               
                <div class="input-group">
                    <input id="tpassword" type="text" class="form-control" name="tpassword" placeholder="Password: 1234567890" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#randomModal">Random</button>
                        <button type="button" class="btn btn-primary" onClick="doClear();">Clear</button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label>Url: </label>
                <input id="turl" type="text" class="form-control" name="turl" placeholder="URL: www.example.com" required>
            </div>

            <div class="form-group">
                <label>Remark: </label>
                <textarea id="tremark" type="content" cols="30" rows="10" class="form-control" name="tremark" placeholder="Remark: mark for this tag"></textarea>
            </div>

            <div class="container" style="width: 1000px;" align="left">
                <button type="submit" class="btn btn-primary">Add Tag</button>
            </div>
        </form>

        <!-- Modal >Generate a random password  -->
        <div class="modal fade" id="randomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Generate a random password</h3>
                    </div>
                    <div class="modal-body">
                        <h4>1. Input the length of random password(1~32)</h4>
                        <div class="input-group">
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input id="passwdlen" type="text" name="passwdlen" class="form-control" value="8" disabled="disabled">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" onclick="doUpDown(true)">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" onclick="doUpDown(false)">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-10 -->

                            <div class="col-lg-8">
                                <input id="passwdlenbar" type="range" style="width:100%;" name="passwdlenbar" value="8" min="1" max="32" step="1" onChange="doGetValue();"/>
                            </div>
                        </div>

                        <h4>2. Select the type of randmom password</h4>
                        <div class="input-group">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <label class="checkbox">
                                        <input id="numeral" type="checkbox" checked="checked" name="numeral">The Arabic numeral <span class="label label-info">0123456789</span>
                                    </label>
                                    <label class="checkbox">
                                        <input id="lowercase" type="checkbox" checked="checked" name="lowercase">Lower case <span class="label label-info">abcdefghijklmnopqrstuvwxyz<span>
                                    </label>
                                    <label class="checkbox">
                                        <input id="uppercase" type="checkbox" checked="checked" name="uppercase">Upper case <span class="label label-info">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
                                    </label>
                                     <label class="checkbox">
                                        <input id="specialcase" type="checkbox" name="specialcase">Special case <span class="label label-info">!#$%&()*+,-.:;=?@</span>
                                    </label>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-12 -->
                        </div>

                        <h4>3. Click "Generate" button, show results</h4>
                        <div class="input-group">
                            <div class="col-lg-10">
                                <div class="input-group">
                                   <input id="passwordgen" type="text" class="form-control" name="passwordgen" value='' disabled="disabled"> 
                                  <span class="input-group-btn">
                                    <input type="button", value="Generate" class="btn btn-primary" onclick="randomAlphanumeric()"> 
                                  </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-10 -->
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="doCopy();">Copy</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal example by toby -->
        <div id="example" class="modal-toby" style="display: none;">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>This is a Modal Heading</h3>
            </div>
            <div class="modal-body">
                <h4>Text in a modal</h4>
                <p>You can add some text here.</p>                
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary">Call to action</a>
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div> 
        </div> <!-- /.modal -->

        <script type="text/javascript">
            function randomAlphanumeric() {
                var NUMERAL = "0123456789";
                var LOWERCASE = "abcdefghijklmnopqrstuvwxyz";
                var UPPERCASE = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                var SPECIALCASE = "!#$%&()*+,-.:;=?@"; 

                var isNumeral = document.getElementById("numeral");
                var isLowercase = document.getElementById("lowercase");
                var isUppercase = document.getElementById("uppercase");
                var isSpecialcase = document.getElementById("specialcase");

                var dstElem = document.getElementById("passwordgen");
                var length = document.getElementById("passwdlen").value;

                chars = "";
                if(isNumeral.checked == true) {
                    chars = NUMERAL;
                }

                if(isLowercase.checked == true) {
                    chars += LOWERCASE;
                }

                if(isUppercase.checked == true) {
                    chars += UPPERCASE;
                }

                if(isSpecialcase.checked == true) {
                    chars += SPECIALCASE;
                }

                var randomChars = ""; 
                for(x=0; x<length; x++) { 
                    var i = Math.floor(Math.random() * chars.length); 
                    randomChars += chars.charAt(i); 
                } 

                dstElem.value = randomChars; 
            }

            function doCopy() {
                var passwordgen = document.getElementById("passwordgen");
                var tpassword = document.getElementById("tpassword");

                if(passwordgen.value.length != 0) {
                    tpassword.value = passwordgen.value;
                } else {
                    alert("Random password is empty, please Click \"Random\" button first!");
                }
            }

            function doClear() {
                var tpassword = document.getElementById("tpassword");
                tpassword.value = "";
            }       

            function doGetValue() {
                var passwdlenbar = document.getElementById("passwdlenbar");
                var passwdlen = document.getElementById("passwdlen");
                passwdlen.value = passwdlenbar.value;
            }  

            function doUpDown(isup) {
                var passwdlenbar = document.getElementById("passwdlenbar");
                var passwdlen = document.getElementById("passwdlen");

                if(isup == false) {
                    if(passwdlen.value > 0) {
                        passwdlen.value--;
                    }
                    passwdlenbar.value = passwdlen.value;
                } else {
                    if(passwdlen.value < 32) {
                        passwdlen.value++;
                    }
                    passwdlenbar.value = passwdlen.value;
                }
            }
        </script>

    </div>

    {{template "tail"}}

    </div>

    <!-- Using jQuery with a CDN -->
    <!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>-->
    <script src="/static/js/jquery-2.0.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>