{{template "header"}}

<body>

    {{template "navbar" .}}

    <div class="container" style="width: 500px;">
        <form method="post" action="register" class="form-signin" role="form">
            <p> <h3><span class="label label-primary">User register</span></h3>
                <input id="uname" type="text" class="form-control" name="uname" placeholder="Pick a username" required autofocus><span class="label label-warning">{{.Uname}}</span>
                <input id="uemail" type="email" class="form-control" name="uemail" placeholder="Your email" required><span class="label label-warning">{{.Uemail}}</span>
                <input id="upasswd" type="password" class="form-control" name="upasswd" placeholder="Create a password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up for PWDKeeper</button>
            </p>
        </form>
    </div>

    {{template "tail"}}

    </div>
    
</body>
</html>